<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/e32ffc4a-ec63-4035-85e7-30653eff2cee/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/gstmag</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://gstmag.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://gstmag.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$gstmag</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>