@model IEnumerable<TestHostAppAndBaseDonnes.Models.Acheteur>

@{
    ViewData["Title"] = "Acheteurs";
}
<header>
    <nav class="navbar navbar-expand-md  navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Produit" asp-action="Index">
                <img src="~/Images/GestionMagazinLogo.webp" alt="Logo" width="90" height="50" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-md-inline-flex justify-content-center">
                <ul class="navbar-nav flex-grow-center">


                    <li class="nav-item">
                        <a class="nav-link  " asp-area="" asp-controller="ProduitAffiche" asp-action="Index"><samp>les articles</samp></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " asp-area="" asp-controller="produit" asp-action="Index"><samp>Stock</samp></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " asp-area="" asp-controller="Magasin" asp-action="Index"><samp>Analyse</samp></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="PlanVondre" asp-action="Index"><samp>PlansVentes</samp></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="PlanAchat" asp-action="Index"><samp>PlanAchats</samp></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-area="" asp-controller="Acheteur" asp-action="Index"><samp>Magasinier</samp></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Directeur" asp-action="index"><samp>Profile</samp></a>
                    </li>
                </ul>
            </div>

            <div class="flex-grow-end ">
                <a class="btn btn-danger" asp-controller="Directeur" asp-action="LogOut">Déconnecter</a>
            </div>
        </div>
    </nav>
</header>
<div class="LoginDiv">
    <div class="inputField">
        <div class="alert alert-primary">
            <h1><samp class="text-primary">Magasinier </samp></h1>
        </div>
        <p>
            <a class="btn btn-secondary " asp-action="Create"> Ajouter </a>
            <!-- <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Chercher</button> -->

        </p>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body">
                        <div class="inputField">
                            <h5>Chercher Par</h5>
                            <hr />
                            <label for="id" class="control-label">ID</label>
                            <input type="number" name="id" class="form-control" required />
                            <div class="inputField">
                                <a class="btn btn-primary">Chercher</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                    <div class="card card-body">
                        <div class="inputField">
                            <h5>Chercher Par</h5>
                            <hr />
                            <label for="NomProduit" class="control-label">Nom Produit</label>
                            <input type="text" name="NomProduit" class="form-control" required />
                            <div class="inputField">
                                <a class="btn btn-primary">Chercher</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br />
    </div>
    <div class="LoginDiv">
        <div class="inputField">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.UserName)
                            </th>
                            <th>
                                Password
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    *******
                                </td>
                                <td>
                                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.id">Actions</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


