@model TestHostAppAndBaseDonnes.Models.Produit

@{
    ViewData["Title"] = "Create";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="ProduitAcheteur" asp-action="Index">
                <img src="~/Images/GestionMagazinLogo.webp" alt="Logo" width="90" height="50" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                <ul class="navbar-nav flex-grow-center">

                    <li class="nav-item">
                        <a class="nav-link  " asp-area="" asp-controller="ProduitAffiche" asp-action="Index"><samp>les articles</samp></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " asp-area="" asp-controller="ProduitAcheteur" asp-action="Index"><samp>Stock</samp></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " asp-area="" asp-controller="Planvondre" asp-action="IndexForVendeur"><samp>PlanVentes</samp></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link  " asp-area="" asp-controller="Acheteur" asp-action="IndexAcheteur"><samp>Profile</samp></a>
                    </li>
                </ul>
            </div>

            <div class="flex-grow-end ">
                <a class="btn btn-danger" asp-controller="Acheteur" asp-action="LogOut">Déconnecter</a>
            </div>
        </div>
    </nav>
</header>
<div class="LoginDiv">
    <div class="inputField">

        <div class="alert alert-secondary" role="alert">
            <h1><samp class="text-secondary">Acheter un  Produit</samp></h1>
        </div>
        <div class="inputField">
            <form asp-action="Create">

                <h4><samp>Informations :</samp></h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <label  class="control-label"> Référence</label>
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger"></span>


                <label  class="control-label"> Nom</label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>

                 
                <label class="control-label">Quantité stock</label>
                <input type="number" asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
                

                <label class="control-label" hidden>Prix Unité</label>
                <input type="number" asp-for="Prix_unity" class="form-control"   />
                <span asp-validation-for="Prix_unity" class="text-danger" ></span>

                <br>

                <label class="control-label">Categorie :</label>
                <select id="categoriesDropdown" name="Categorie" class="form-control">
                    @foreach (SelectListItem category in (SelectList)ViewBag.Categories)
                    {
                        <option value="@category.Value">@category.Text</option>
                    }
                </select>

                <br>
                <label class="control-label">Lieu De Stock :</label>
                 <select id="categoriesDropdown" name="LieuDeStock" class="form-control">
                    @foreach (SelectListItem lieustock in (SelectList)ViewBag.LieuDeStocks)
                    {
                        <option value="@lieustock.Value">@lieustock.Text</option>
                    }
                </select>

                <hr />
                <div class="buttonsDiv">
                    <input type="submit" value="Acheter" class="btn btn-secondary" />
                    <a class="btn btn-primary" asp-action="Index">Retour Vers La Liste</a>
                </div>
                <hr />
            </form>
        </div>

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

