@model IEnumerable<TestHostAppAndBaseDonnes.Models.Categorie>

@{
    ViewData["Title"] = "Categorie";

}


    @if(ViewBag.directeurlogin != null)
    {
        <header>
            <nav class="navbar navbar-expand-md  navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-controller="Produit" asp-action="Index">
                        <img src="~/Images/GestionMagazinLogo.webp" alt="Logo" width="90" height="50" class="d-inline-block align-text-top">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-md-inline-flex justify-content-center">
                        <ul class="navbar-nav flex-grow-center">

                            <li class="nav-item">
                                <a class="nav-link  " asp-area="" asp-controller="ProduitAffiche" asp-action="Index"><samp>les articles</samp></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  " asp-area="" asp-controller="produit" asp-action="Index"><samp>Stock</samp></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  " asp-area="" asp-controller="Magasin" asp-action="Index"><samp>Analyse</samp></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="PlanVondre" asp-action="Index"><samp>PlansVentes</samp></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="PlanAchat" asp-action="Index"><samp>PlansAchats</samp></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Acheteur" asp-action="Index"><samp>Magasinier</samp></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Directeur" asp-action="index"><samp>Profile</samp></a>
                            </li>
                        </ul>
                    </div>

                    <div class="flex-grow-end ">
                        <a class="btn btn-danger" asp-controller="Directeur" asp-action="LogOut">Déconnecter</a>
                    </div>
                </div>
            </nav>
        </header>
    }else if (ViewBag.acheteurslogin != null)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-controller="ProduitAcheteur" asp-action="Index">
                        <img src="~/Images/GestionMagazinLogo.webp" alt="Logo" width="90" height="50" class="d-inline-block align-text-top">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                        <ul class="navbar-nav flex-grow-center">

                            <li class="nav-item">
                                <a class="nav-link  " asp-area="" asp-controller="ProduitAffiche" asp-action="Index"><samp>les articles</samp></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  " asp-area="" asp-controller="ProduitAcheteur" asp-action="Index"><samp>Stock</samp></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  " asp-area="" asp-controller="Planvondre" asp-action="IndexForVendeur"><samp>PlanVentes</samp></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link  " asp-area="" asp-controller="Acheteur" asp-action="IndexAcheteur"><samp>Profile</samp></a>
                            </li>
                        </ul>
                    </div>

                    <div class="flex-grow-end ">
                        <a class="btn btn-danger" asp-controller="Acheteur" asp-action="LogOut">Déconnecter</a>
                    </div>
                </div>
            </nav>
        </header>
    }
    
<div class="LoginDiv">
    
    <div class="inputField">
        <div class="alert alert-primary">
            <h1> <samp class="text-primary">La list Des Categories</samp></h1>
        </div>




        <ul class="nav nav-underline justify-content-center">
            <li class="nav-item">
                <a class="btn btn-primary rounded-pill px-3" asp-action="Create">Ajouter Categorie </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-dark active " asp-controller="Categorie" asp-action="Index" >Categorie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="LieuStock" asp-action="Index">Lieu De Stock</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-outline-primary rounded-pill px-3 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Chercher Par
                    </button>
                    <ul class="dropdown-menu dropdown-menu-primary">
                        <li>
                            <button  class="dropdown-item " type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 ">par Designation</button>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <p>
            
        </p>
        <div class="row">
            <div class="col-sm-3">
                <div class="collapse  multi-collapse" id="multiCollapseExample1">
                    <div class="card">
                        <h5 class="card-header">Chercher Par :</h5>
                        <div class="card-body">
                            <div class="inputField">
                                <form method="post" asp-action="Chercherpardesignation">
                                    <label for="Designation">Designation</label>
                                    <input  name="Designation" required />
                                    <div class="inputField">
                                        <input type="submit" class="btn btn-outline-primary" value="Chercher" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        
            <br />
            
            

        </div>
    </div>

</div>

<div class="LoginDiv">
    <div class="inputField">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-12">
                    <div class="card1 mb-4">
                        <div class="card-body1">
                            <h5 class="card-title">Categorie </h5>

                            <p class="card-text">
                                Designation: @Html.DisplayFor(modelItem => item.Designation)<br>
                            </p>
                            <a href="@Url.Action("Edit", "Categorie", new { id = item.id })" class="btn btn-secondary rounded-pill px-3">Modifier</a>
                        </div>

                    </div>
                </div>
            }
        </div>

    </div>
</div>